@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>

    <h2>This website shows the top golfers around the world ! just click on the golfers link to see who is on the top this year!</h2>

    <style>
    body {
        background-Image: url("woods.jpg");
    }
        </style>